@{
    ViewBag.Title = "Meat Grinder";
}

<div style="float: left; margin-top: 5px;">
    <img src="~/Images/MeatGrinder_Logo_Small.png" width="149" height="113" />
</div>
<div class="center">
    <h1>Welcome To Meat Grinder</h1>
    <h3>Don't just plan goals, complete them!</h3>
</div>

<!-- Sections -->
<div class="center" style="margin-top: 40px">
    <li class="btn" data-bind="click: $root.getToDoList"><span class="icon-ok"></span> To Do List</li>
    <a class="btn" data-bind="click: $root.getGoals"><span class="icon-list"></span> Goals</a>
    <!--<li class="btn" data-bind="click: $root.goToAccountSection">Account</li>-->
    <a class="btn" href="/home/logoff"><span class="icon-off"></span> Logoff</a>
</div>

<!-- To Do Grid -->
<div data-bind="with: toDoListData">
    <table id="todoList" class="table table-striped" style="margin-top: 20px">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Complete</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $data">
            <tr>
                <td data-bind="text: Description"></td>
                <td>
                    <button class="btn" data-bind="click: $root.completeTask">
                        <span class="icon-ok"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Goal/Task List -->
<div data-bind="visible: selectedSection() == 'goals'">
    
    <!-- Goals -->
    <div data-bind="with: $root.goalData">
        <div class="center section-header">
            <h1>Goals</h1>
        </div>

        <table class="center table-center" style="margin-top: 20px">
            <tr>
                <td colspan="2" class="section-header">Add A New Goal</td>
            </tr>
            <tr>
                <td>
                    <input type="text" data-bind="value: $root.newGoalDescription"/>
                </td>
                <td>
                    <a style="margin-bottom: 10px" class="btn" data-bind="click: $root.addGoal">Add</a>
                </td>
            </tr>
        </table>

        <!-- Breadcrumb -->
        <ul class="breadcrumb" style="margin-top: 10px; margin-bottom: 0px;">
            <li><a data-bind="click: $root.getGoals"><span class="icon-home"></span> Home</a></li>
            <!-- ko foreach: $root.goalData().BreadCrumbs -->
            <span class="divider">/</span> <li data-bind="text: DisplayName"></li>
            <!-- /ko -->
        </ul>
        
        <table id="goalsTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-left">Description</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Goals">
                <tr>
                    <td data-bind="click: $root.selectGoal, text: Description"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Tasks -->
    <div data-bind="with: $root.taskData">
        <div class="center section-header">
            <h1>Tasks</h1>
        </div>

        <table class="center table-center" style="margin-top: 20px">
            <tr>
                <td colspan="2" class="section-header">Add A New Task</td>
            </tr>
            <tr>
                <td>
                    <input type="text" data-bind="value: $root.newTaskDescription"/>
                </td>
                <td>
                    <a style="margin-bottom: 10px" class="btn" data-bind="click: $root.addTask">Add</a>
                </td>
            </tr>
        </table>
        
        <!-- Breadcrumb -->
        <ul class="breadcrumb" style="margin-top: 10px; margin-bottom: 0px;">
            <li><a data-bind="click: $root.getGoals"><span class="icon-home"></span> Home</a></li>
            <!-- ko foreach: $root.taskData().BreadCrumbs -->
            <span class="divider">/</span> <li><a data-bind="text: DisplayName, attr: { href: Url }"></a></li>
            <!-- /ko -->
        </ul>

        <table id="tasksTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Tasks">
                <tr>
                    <td data-bind="click: $root.selectTask, text: Description"></td>
                </tr>                
            </tbody>
        </table>
    </div>
</div>

<!-- Account Section -->
<div data-bind="with: accountData">
    <div class="account-details">
        <div class="center section-header">
            Account Details
        </div>
        <div>
            <table class="table-center">
                <tr>
                    <td>
                        Account:
                    </td>
                    <td>
                        <label data-bind="text: AccountName"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <label data-bind="text: EmailAddress"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="center" data-bind="visible: $root.showChangePasswordForm() == false">
        <a class="btn" data-bind="click: $root.changePassword">Change Password</a>        
    </div>
    
    <div data-bind="visible: $root.showChangePasswordForm">
        Change Password Form        
    </div>

    <div class="account-summary">
        <div class="center section-header">
            Account Summary
        </div>
        <div>
            <table class="table-center">
                <tr>
                    <td>
                        Master Projects:
                    </td>
                    <td>
                        <label data-bind="text: MasterProjectsCount"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Projects:
                    </td>
                    <td>
                        <label data-bind="text: TotalProjectsCount"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Tasks:
                    </td>
                    <td>
                        <label data-bind="text: TotalTasksCount"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function MeatGrinderViewModel() {
        var self = this;
        
        self.selectedSection = ko.observable();

        self.sections = ['To Do List', 'Tasks', 'Account'];
        self.toDoListData = ko.observable();
        self.goalData = ko.observable();
        self.taskData = ko.observable();
        self.accountData = ko.observable();
        self.showChangePasswordForm = ko.observable(false);
        self.newGoalDescription = ko.observable();
        self.selectedGoal = ko.observable();
        self.newTaskDescription = ko.observable();
        self.selectedTask = ko.observable();
        self.breadCrumb = ko.observableArray();

        // Navigation Behaviors
        self.getToDoList = function () { location.hash = "#todo"; };
        self.refreshToDoList = function() {
            self.resetNavigationFlags();
            self.selectedSection('todo');
            $.getJSON('ToDo/GetList', self.toDoListData);
        };
        self.getGoals = function () { location.hash = "#goals"; };
        self.refreshGoals = function() {
            self.resetNavigationFlags();
            self.selectedSection('goals');
            $.getJSON('/goal/getall', self.goalData);
        };

        self.goToAccountSection = function () {
            self.resetNavigationFlags();
            self.selectedSection('account');
            $.getJSON('/home/AccountDetails', self.accountData);
        };
        self.resetNavigationFlags = function() {
            self.accountData(null);
            self.toDoListData(null);
            self.goalData(null);
            self.taskData(null);
            self.showChangePasswordForm(false);
            self.breadCrumb.removeAll();
            self.selectedGoal(null);
            self.selectedTask(null);
        };

        self.getGoals();

        // ToDo Behaviors
        self.completeTask = function (task) {
            $.ajax({
                type: "POST",
                url: '/todo/Complete',
                data: ko.toJSON(task), //{ ID: task.ID, Description: task.Description, TaskType: task.TaskType },
                contentType: 'application/json',
                success: function () {
                    self.refreshToDoList();
                },
            });
        };
        
        // Goal Behaviors
        self.selectGoal = function (goal) { location.hash = "#goal/" + goal.ID; };
        self.addGoal = function () {            
            $.ajax({
                url: '/goal/create',
                data: { Description: self.newGoalDescription() },
                contentType: 'application/json',
                success: function () {
                    self.newGoalDescription(null);
                    self.refreshGoals();
                },
            });
        };
        
        // Task Behaviors
        self.selectTask = function (task) { location.hash = "#task/" + task.ID; };
        self.getTasksForGoal = function (id) {
            $.ajax({
                type: 'POST',
                url: '/task/GetTasksForGoal',
                data: ko.toJSON({ ID: id }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (results) {
                    self.taskData(results);
                }
            });
        };
        self.getTasksForTask = function (id) {
            $.ajax({
                type: 'POST',
                url: '/task/GetTasksForTask',
                data: ko.toJSON({ ID: id }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (results) {
                    self.taskData(results);
                }
            });
        };
        self.addTask = function () {
            var parentTaskID;
            
            // If selected task is null, selected task ID is 0
            if (self.selectedTask() == null) {
                parentTaskID = null;
            } else {
                parentTaskID = self.selectedTask();
            }

            $.ajax({
                url: '/task/create',
                data: { Description: self.newTaskDescription(), GoalID: self.selectedGoal(), ParentTaskID: parentTaskID },
                contentType: 'application/json',
                success: function() {
                    self.newTaskDescription(null);
                    // If selected task is null, get tasks for selected goal
                    if (self.selectedTask() == null) {
                        self.getTasksForGoal();
                    } else {
                        self.getTasksForTask(self.selectedTask());
                    }
                    // Otherwise, get selected tasks for goal
                }
            });
        };

        // Account Behaviors
        self.changePassword = function() {
            self.showChangePasswordForm(true);
        };

        // Client-side routes
        Sammy(function () {
            this.get('#todo', function () {
                self.refreshToDoList();
            });

            this.get('#goals', function () {
                self.refreshGoals();
            });

            this.get('#goal/:goal', function () {
                self.selectedGoal(this.params.goal);
                self.goalData(null);
                self.getTasksForGoal(this.params.goal);
            });

            this.get('#task/:task', function () {
                self.selectedTask(this.params.task);
                self.taskData(null);
                self.getTasksForTask(this.params.task);
            });
        }).run();
    };

    ko.applyBindings(new MeatGrinderViewModel());
</script>