<html>
<head>
    <title>Meat Grinder</title>
    <link href="../../Content/themes/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50381583-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <img src="/Images/logo-large.png" width="350" style="margin-top: 10px;" />
            <h5>Don't just plan goals, complete them!</h5>
        </div>
        <div class="text-center" style="margin-top: 20px;">
            <a class="btn" href="/Home/Register">Signup</a>
            <a class="btn" href="/Home/Login">Login</a>            
        </div>
    </div>
</body>
</html>