<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6">
<![endif]-->
<!--[if IE 7]>
<html id="ie7">
<![endif]-->
<!--[if IE 8]>
<html id="ie8">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html>
<!--<![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>Home Page</title>
    
    <link type="text/css" rel="stylesheet" href="/Content/landing/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300, 400, 900' rel='stylesheet' type='text/css'>
    
    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="/Content/Landing/ie.css" />
    <script type="text/javascript" src="/Scripts/modernizr-2.5.3.js"></script>
    <![endif]-->
    
    <!--[if lte IE 6]>
    <script type="text/javascript" src="/Scripts/belated.js"></script>
    <![endif]-->
    
</head>

<body id="page-name">

<div id="container-fluid">

<!--header start -->
<div id="header-wrap">
    <header id="header" class="clearfix">
        <!--navigation start -->
            <nav>
                <ul id="nav" class="clearfix">
                    <li class="active"><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li class="last-item"><a href="#">how it works</a></li>
                </ul>
            </nav>
        <!--navigation end -->
        <div class="header-links">
            <a class="signup-btn" href="/Home/Register">signup</a>
            <a class="login-btn" href="/Home/Login">login</a>
            <a class="contact-link" href="#">contact us</a>
        </div>
    </header>
</div>
<!--header end -->

<!--main start -->
<div id="main-wrap">
	<div class="content-width">
        <div id="main">
        	<section id="contents">
                <div class="logo">
                	<h2><span>what is</span><a href="#"><img src="/Images/logo.png" alt=""></a></h2>
                </div>
                <div class="info">
                    <div class="clearfix">
                        <div class="left-para">
                            Imagine having the ability to plan any
                            more than one step to complete, 
                        </div>
                        <div class="right-para">
                            task that requires
                            whether that is a goal,
                        </div>
                    </div>
                    <div class="main-para">
                        event, or project, with a simple to use and clutter free interface. Now add to the ability to use that plan as a guide
                        to track which tasks are already completed and which still need to be done. That is Meat Grinder!
                    </div>
                </div>
                <div class="info-links">
                    <a href="#">how it works</a>
                    <a class="watch-video" href="#">watch video</a>
                </div>
            </section><!--contents -->
        </div>
    </div>
    
    <div class="pig">
        <img src="/images/pig.jpg" alt="">
    </div>
    <div class="arrow-down">
    	<a href="#"><img src="/images/arrow_down.png" alt=""></a>
    </div>
</div>
<!--main end -->

<!--footer start -->
<div id="footer-wrap">
	<div class="content-width">
        <footer id="footer" class="clearfix">
        	<div id="footer-left">
            
            </div>
            <div id="footer-center">
            
            </div>
            <div id="footer-right">
            
            </div>
        </footer>
    </div>
</div>
<!--footer end -->

</div><!--container-fluid -->

</body>
</html>