<html>
<head>
    <title>Meat Grinder</title>
    <link href="../../Content/themes/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <img src="/Images/logo-large.png" width="350" style="margin-top: 10px;" />
            <h5>Don't just plan goals, complete them!</h5>
        </div>
        <div class="text-center" style="margin-top: 20px;">
            <a class="btn" href="/Home/Register">Signup</a>
            <a class="btn" href="/Home/Login">Login</a>            
        </div>
    </div>
</body>
</html>